<p id="notice"><%= notice %></p>



  <h3>Current Build</h3>





    <%= render 'select_or_show_build' %>

<div>
  <h3>Consistancy report</h3>
  <div style="color:green">
        <h4>Reports(<%= @current_build.reports.count %>):</h4>
        <% @current_build.reports.each do |report| %>
              <li><%=report%></li>
        <%end%>
  </div>
</div>
