<h1>About Us</h1>
<p>PcPartsBd.com is run by group of tech enthusiast, who are trying to help people to chose the pc of their dream.
	 It is the first ever online virtual pc building platform of Bangladesh. Building a pc is not very easy task, 
	 because of the budget and the knowledge whether one part of pc is consistant with other part of our choice or 
	 not, it requires going lots of site and reading lots of specifications, in this you are getting everything all together.
	 In this site you can choose parts of choice and see if it is conflictious with other parts or not. At the same time you 
	 can compare prices with other shop. We also have blog section where we share valuable tips on building PC from our experts.
	.</p>