<div class="row">
	<div class="feat animatedParent">
		<div class="">
		  	<%= render 'layouts/carousel' %>
		</div>
	</div>
	<div class="col-md-5 feat animatedParent" >
		<%= render 'pages/week_post', week_post: @week_post%>
	</div>
		
	<div class="col-md-7 feat animatedParent" data-sequence="100">
		<%= render 'pages/feat_post', feat_posts: @feat_posts%>
	</div>


</div>
