<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @form_factor.string %>
</p>

<%= link_to 'Edit', edit_form_factor_path(@form_factor) %> |
<%= link_to 'Back', form_factors_path %>
