/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 *= require yamm
 *= require navbar
 *= require owl.carousel
 *= require owl.theme
 *= require jquery.dataTables
 *= require jquery-ui/autocomplete
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "navbar";
@import "animations";
.ui-autocomplete{
  z-index: 1030 !important;
position: fixed !important;
}


.panel-heading{
    color: #FFFFFF;
  background-color: #2793C8;
  border-color: #4A83C1;
}
.thumbnail{
   padding: 4px;
   margin-bottom: 0px;
   margin-right:0px;
 }
 .feat{
   padding:8px;
 }
 .thumbnail .caption {
   padding-top:0px;
 }
  .thumbnail .caption h3,  .thumbnail .caption h4 {
   margin-bottom:1px;
   margin-top:2px;
 }
body{margin-top: 56px;}
.thumbnail .caption h3{margin-top:0px}
.feat-thumb{padding:0}
.qty{padding:1px !important;width:36px !important}
.add_build_col{  padding: 0px;}

.add_build {
  background-color:#BEE3F6;
  border-radius: 5px;
  padding: 5px;
//  padding-left: 15px;
//  margin-top: 30px;
}
.add_build .btn{
  margin-top: 5px;
  margin-bottom: 5px;
}
.add_build .button_to{
  text-align: right;
}



.btn a{
  text-decoration: none;
}
a:link.btn, a:link.btn:visited{
  color:white !important;
  text-decoration: none !important;
}
a.btn{
  color:white !important;
  text-decoration: none !important;
}
.ad{
  text-align: center;
}
.ad {
  padding-bottom: 5px;
  padding-top:5px;
}

.menu-parts-icon{color:white !important;align: center}
.menu-parts-icon img{
  width: 100%;
}
.owl-carousel .owl-controls{
  margin-top: 2px !important;
}

#owl-carousel .item{
  margin: 3px;
}
#owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}


 .hvr-box-shadow-outset:hover .hvr-box-shadow-outset:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1) !important;
}




 .step-list {
      margin-left: 6px;
      margin-right: 6px;
  }
  
  .steps {
    border: 3px solid white;
      padding:4px;
      color: white;
          min-height:121px;
  }
  .same-height .col-md-6{
    padding:0px;

  }
   
  
  
  .step-list img{ max-height:45px; width:auto}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.blink_me:hover {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}