/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 *= require yamm
 *= require navbar
 *= require owl.carousel
 *= require owl.theme
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "navbar";

.btn a{
  text-decoration: none;
}
.btn a:visited{
  color:white;
  text-decoration: none;
}
.ad{
  text-align: center;
}
.ad div {
  padding-bottom: 5px;
  padding-top:5px;
}

.menu-parts-icon{color:white;text-align: center}
.menu-parts-icon img{
  width: 100%;
}
.owl-carousel{
  padding-top: 52px;
}
.owl-carousel .owl-controls{
  margin-top: 2px !important;
}

#owl-carousel .item{
  margin: 3px;
}
#owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}