// Place all the styles related to the builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
table tr td { width:25%; }
table tr:first-child th{
  color:white;
  border-color:#4A83C1;
}

table tr:first-child th:nth-child(even){
  background-color: #2793C8;
}
table tr:first-child th:nth-child(odd){
  background-color: #4A83C1;;
}
td{
  border-color: #BEE3F6 !important;
}


.build-share{
  background-color: #4A83C1 !important ;
  color: white !important;
}