  <div class="add_build">
    You can add this item to your current build to see if it is compatable with other parts or not.
    <%= form_tag(form_link, :method => "Post") do %>
	  <%= number_field_tag 'qty',1, class: "qty" %>
	  <%= submit_tag 'Add to build', :class => "btn btn-primary" %>
	<% end %>

    or <%= link_to 'back to current build', current_build_url %>
  </div>