<style>
    .owl-carousel div img {height:200px;}
</style>

<div class="container">
  <div class="">
    <div class="owl-carousel">
      <div class="item"> <img src="http://images.bit-tech.net/blog/2009/04/bit-tech-and-custom-pc-wallpapers-part-1/hardware_19x12.jpg"> </div>
      <div class="item"> <img src="http://www.digipubcorp.com/images/gamer-pc.jpg"> </div>
      <div class="item"> <img src="http://images.bit-tech.net/blog/2009/04/bit-tech-and-custom-pc-wallpapers-part-1/buyers_19x12.jpg"> </div>
      <div class="item"> <img src="http://www.godragracing.org/picts/falcon-northwest-computers/new-falcon-northwest-computer-and-parts-arrayt.jpg"> </div>
    </div>
  </div>
</div>
