<div>
  <img src="http://adoptserver.com/adopt/www/images/ada8f633c293374803b92588fe450108.gif">
</div>
<div>
  <img src="https://tpc.googlesyndication.com/simgad/9559968863477504625">
</div>
<div>
  <img src="https://tpc.googlesyndication.com/simgad/14990911941625155800">
</div>
<div>
  <img src="https://tpc.googlesyndication.com/simgad/6154479667724423085">
</div>
<div>
  <img src="https://s0.2mdn.net/dot.gif">
</div>
<div>
  <img src="http://pagead2.googlesyndication.com/simgad/12922809820373678081">
</div>
<div>
  <img src="http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif">
</div>