<div class="footer">
 		<div class="container">
 			<div class="col-md-3">
 				<li><a>Choose parts of your own PC</a></li>
 				<li><a>Build your own PC</a></li>
 			</div>
 			 <div class="col-md-3">
 				<li><a>Price list of CPU</a></li>
 				<li><a>Build your own PC</a></li>
 			</div>
 			<div class="col-md-3">
 				 <li><a>Price list of CPU</a></li>
 				<li><a>Build your own PC</a></li>
 			</div>
 			 <div class="col-md-3">
 			  <table class="contact-table">
				  <tr>
				    <td><i class="fa fa-envelope"></i></td>
				    <td>House:3 Road:9<br>
	 					Rafique Housing<br>
	 					Mohammadpur, Dhaka</td>
				  </tr>
				  <tr>
				    <td><i class="fa fa-phone"></i></td>
				    <td>01758085078</td>
				  </tr>
				  <tr>
				    <td></td>
				    <td>contact@pcpartsbd.com</td>
				  </tr>
				  <tr>
				    <td><i class="fa fa-envelope"></i></td>
				    <td><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></td>
				  </tr>
				</table>
 			</div>

 		</div>
 	</div>
 	<div class="text-center" style="background-color:black;">© www.pcpartsbd.com</div>