<div class="container navbar-fixed-top">
<nav class="navbar yamm navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><%=image_tag 'logo.png', :style=>"max-width:40px; margin-top: -7px;"%></a>
    <a class="navbar-brand" href="#">PCPARTS.COM.BD</a>
  </div>

  <ul class="nav navbar-nav">

    <li class="active"><a href="#">Current Build<span class="sr-only"></span></a></li>
    <li><a href="#">Featured Build<span class="sr-only"></span></a></li>

    <li class="dropdown yamm-fw">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Individual Parts <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <div class="row">
          <div class="col-md-6">
              <div class="col-sm-3">
                <a href="/cpus" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-cpu.png" alt="CPU">CPU</a>
              </div>
              <div class="col-sm-3">
                <a href="/cpu_coolers" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-cpucooler.png" alt="CPU Cooler">CPU Cooler</a>
              </div>
              <div class="col-sm-3">
                <a href="/motherboards" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-motherboard.png" alt="Motherboard">Motherboard</a>
              </div>
              <div class="col-sm-3">
                <a href="/memories" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-memory.png" alt="Memory">Memory</a>
              </div>
              <div class="col-sm-3">
                <a href="/storages" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-ssd.png" alt="Storage">Storage</a>
              </div>
              <div class="col-sm-3">
                <a href="/video_cards" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-videocard.png" alt="Video Card">Video Card</a>
              </div>
              <div class="col-sm-3">
                <a href="/power_supplies" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-powersupply.png" alt="Power Supply">Power Supply</a>
              </div>
              <div class="col-sm-3">
                <a href="/cpu_cases" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-case.png" alt="Case">Case</a>
              </div>
          </div>

        </div>
      </ul>

    </li>
  </ul>

</nav>
    </div>