<div>
<div class="panel-heading">Product Images</div>
<div class="owl-carousel">
  <% pictures.each do |picture|%>
  <div class="item" style="width:317px;">
    <%= image_tag picture.image.url %>
  </div>
  <% end %>
</div>
</div>