
        <div class="col-md-12 thumbnail blink_me">
        	<div class="panel-heading"> <i class="fa fa-puzzle-piece" style="font-size: 20px;"></i> <span class="pull-right">Build your own PC!</span></div>
        	<div class="step-list same-height" data-sequence="1000" style="padding-top:5px">
        		<div class="col-md-6 hvr-pulse-grow" >
		          	<div class="steps animated bounceIn same-height-item" data-id="1" style="background-color: rgb(156, 208, 232); border-top-left-radius: 15px;">
			          	<p>1. Build your own part list with us.</p>
				  		<%= image_tag "http://www.abiko.co.uk/images/pc_build_icon.png", :style=>"width:100%;"%>
				  	</div>	
		  		</div>
		  		<div class="col-md-6 hvr-pulse-grow">
			  		<div class="steps animated bounceIn same-height-item" data-id="1"  style="background-color: rgb(30, 172, 224); border-top-right-radius: 15px; margin-left: 5px;">
			  			<p>2. Share your list & take feedback. </p>
			  			<%= image_tag "http://www.newlandshealthcare.co.uk/wp-content/uploads/2015/03/rewards-share-icon.jpg", :style=>"width:100%;" %>
			  		</div>
			  	</div>

		  		<div class="col-md-6  hvr-pulse-grow" >
			  		<div class="steps animated bounceIn same-height-item" data-id="1" style="background-color: rgb(30, 172, 224);  border-bottom-left-radius: 15px;">
			  			<p>3. Compare prices with other shops. </p>
			  			<%= image_tag "http://blogs.vmware.com/management/files/2014/10/Cloud-Cost-Comparison-Icon.png", :style=>"width:100%;" %>
			  		</div>
			  	</div>
			  	<div class="col-md-6 hvr-pulse-grow" >
			  		<div class="steps animated bounceIn same-height-item" data-id="1" style="background-color: rgb(0, 153, 211);  border-bottom-right-radius: 15px;">
			  			<p>4. Then buy your own pc. </p>
			  			<%= image_tag "http://apk-dl.com/detail/image/xcom.app.buyhatke-w250.png.pagespeed.ic.tJKOrre_iw.png", :style=>"width:100%;" %>
			  		</div>
			  	</div>
		  	</div>
        </div>
